__pycache__/
.idea/
/.env
/venv/
/db.sqlite3
/.bash_history
/.local/
/.cache/
/.mypy_cache/
/cdk.out/
/.parameters.json
/.secrets.json
/.dockerhub_creds.json
/celerybeat-schedule.bak
/celerybeat-schedule.dat
/celerybeat-schedule.dir
/local_data/
/celerybeat-schedule
